.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-bottom: 30px;
  transition: font-size 0.3s ease;
}


.card-category:hover{
  box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
  font-size: 40px;
}

.text-base{
   opacity:1;
}

.text-hover{
   display:none;
}

.card-category:hover span.text-base{
   opacity:0;
}

.card-category:hover span.text-hover{
   display:inherit;
   position:absolute;
}